<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<table class="pretty">
  <tr>
    <th><%= sortable "name", t('name') %></th>
    <th><%= t('date.begin') %></th>
    <th><%= t('date.end') %></th>
    <th class="table_option"></th>
    <th class="table_option"></th>
  </tr>

<% @scripts.each do |script| %>
  <tr>
    <td><%= link_to script.name, script %></td>
    <td><%= script.beginDate %></td>
    <td><%= script.endDate %></td>
    <% if user_signed_in? %>
        <td><%= link_to image_tag('/assets/page_white_edit.png'), edit_script_path(script), :title => 'Edit' %></td>
        <td><%= link_to image_tag('/assets/delete.png'), script, confirm: 'Are you sure?', method: :delete, :title => 'Delete' %></td>
    <% else %>
        <td></td>
        <td></td>
    <% end %>
  </tr>
<% end %>
</table>
<%= will_paginate @scripts %>