<div id="login">
    <h1><%= t('sign.in') %></h1>
    <%= form_for(:user, :url => user_session_path) do |f| %>
      <div class="full-width"><%= f.label t('username') %><br />
      <%= f.text_field :username %></div>

      <div class="full-width"><%= f.label t('password') %><br />
      <%= f.password_field :password %></div>

      <div><%= f.check_box :remember_me %>
      <%= t('remember_me') %></div>

      <div><%= f.submit "Sign in" %></div>
    <% end %>
</div>