<%= form_for(@glyph) do |f| %>
  <% if @glyph.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@glyph.errors.count, "error") %> prohibited this glyph from being saved:</h2>

      <ul>
      <% @glyph.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="edit_form">
    <% if @glyph.unicode %>
        <tr>
            <td class="form_header"><%= f.label t('glyph.self') %></td>
            <td><%= unicode_tag @glyph.unicode, :type => 'glyph' %></td>
        </tr>
    <% end %>

    <tr>
      <td class="form_header"><%= f.label :unicode %></td>
      <td><%= f.text_field :unicode %></td>
    </tr>
  </table>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
