<p id="notice"><%= notice %></p>

<p>
  <b>Image:</b>
  <%= @glyph.image %>
</p>

<p>
  <b>Begintime:</b>
  <%= @glyph.beginTime %>
</p>

<p>
  <b>Endtime:</b>
  <%= @glyph.endTime %>
</p>


<%= link_to 'Edit', edit_glyph_path(@glyph) %> |
<%= link_to 'Back', glyphs_path %>
