<%= form_for(@char) do |f| %>
  <% if @char.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@char.errors.count, "error") %> prohibited this char from being saved:</h2>

      <ul>
      <% @char.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="edit_form">
    <tr>
      <td class="form_header"><%= f.label t('name') %></td>
      <td><%= f.text_field :name, :size => 30 %></td>
    </tr>
    <tr>
      <td class="form_header"><%= f.label t('description') %></td>
      <td><%= f.text_area :description %></td>
    </tr>
    <tr>
      <td class="form_header"><%= f.label t('glyph.self') %></td>
      <td><%= f.select :glyph_id,
                       Glyph.all.collect {|p| [ unicode_tag(p.unicode, :type => 'glyph'), p.id ] },
                       :prompt => t('select') + ' ' + t('glyph.self') %></td>
    </tr>
    <tr>
      <td class="form_header"><%= f.label t('script.self') %></td>
      <td><%= f.select :script_id,
                       Script.all.collect {|p| [ p.name, p.id ] },
                       :prompt => t('select') + ' ' + t('script.self') %></td>
    </tr>
    <tr>
      <td class="form_header"><%= f.label t('sound.value') %></td>
      <td><%= f.select(:sound_ids,
                       Sound.all.collect {|p| [unicode_tag(p.symbol, :type => 'sound') + ', ' + p.name, p.id ] },
                       {:selected => @char.sound_ids},
                       {:multiple => true, :sound => 'char[sound_ids][]', :size => 8 }) %></td>
    </tr>
    <tr>
      <td class="form_header"><%= f.label t('parent') %></td>
      <td><%= f.select :parent_id,
                 @parents_select.collect {|p| [unicode_tag(p.glyph.unicode, :type => 'glyph') + ', ' + p.name + ', ' + p.script.name, p.id ] },
                 :include_blank => t('none') %></td>
    </tr>
  </table>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
