<%= form_for(@sound) do |f| %>
  <% if @sound.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sound.errors.count, "error") %> prohibited this sound from being saved:</h2>

      <ul>
      <% @sound.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="edit_form">
    <tr>
      <td class="form_header"><%= f.label t('name') %></td>
      <td><%= f.text_field :name, :size => 30 %></td>
    </tr>

    <tr>
      <td class="form_header"><%= f.label t('description') %></td>
      <td><%= f.text_area :description %></td>
    </tr>

    <tr>
      <td class="form_header"><%= f.label t('symbol') %></td>
      <td><%= f.text_field :symbol %></td>
    </tr>

    <tr>
      <td class="form_header"><%= f.label t('sound.file_url') %></td>
      <td><%= f.text_field :file, :size => 80 %></td>
    </tr>

  </table>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
